body {
	background-color: #98AFC7;
	font-family: 'Roboto', sans-serif;
}

#start {
	margin: 5% 46% 4% 46%;
}

#nameID {
	display: flex;
}

#healthLeft p {
	text-align: center;
}

button {
	padding: 15px;
	text-align: center;
	font-size: 14px;
	width: 90px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

button:hover {
	font-weight: 500;
	cursor: pointer;
}

.options {
	text-align: center;
	margin-bottom: -45px;
}

h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	text-align: center;
}

#statsContainer {
	display: flex;
}

#playerStats {
	display: flex;
	justify-content: center;
	justify-content: space-between;
	justify-content: space-around;
	margin-bottom: 30px;
}

#enemyStats {
	display: flex;
	justify-content: center;
	justify-content: space-between;
	justify-content: space-around;
}

#container {
	border: 2px solid black;
	margin: 8%;
}

.flex-item {
	font-weight: 300;
}

#everything {
	display: none;
}

#gameStatusLine {
	text-align: center;
	margin-top: 7%;
	margin-bottom: -4%;
}